/* font-family: 'Oleo Script Swash Caps', cursive; */
/* font-family: 'Open Sans', sans-serif; */

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
main{
    margin: 30px 150px;
}
.headerbody{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hiddenicon{
    display: none;
}
.headerName h1{
    padding: 20px;
    font-size: 20px;
}
.headerContent a{
    margin-right: 10px;
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto;
}
.bannerContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 50px;
    width: 50%;
    
}
.bannerContent h1{
    font-size: 50px;
    margin-bottom: 0;
}
button{
    padding: 10px 20px;
    border-radius: 15px;
    background-color: rgb(237, 40, 106);
    border: 0;
    color: white;
}
.bannerImage{
    background-image: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size:contain;
    width: 50%;
}
.bannerImage img{
    width: 100%;
}
.link{
    margin-top: 100px;
}
.linkContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;
    align-items: center;
}
.link hr{
    opacity: .30;
    color: rgb(229, 217, 217);
}
.collections{
    margin-top: 100px;
}
.collectionHeader h1{
    text-align: center;
}
.collectionContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 50px;
    gap: 30px;
   
}
.collection{
    padding: 20px;
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgb(203, 197, 197);
}
.colletionImg{
    width: 100%;
}
.collectionImg img{
    width: 100%;
}
.money{
    font-size: 20px;
    font-weight: 600;
}
.rating{
    font-size: 15px;
}
.rating i{
    color: gold;

}
.des{
    font-size: 15px;
}
.seeMore{
    text-decoration: none;
    color: rgb(243, 46, 79);
    text-align: right;
    display: block;
    margin: 20px;
    font-weight: 600;
}
.feature{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 80px;
}
.featureImg img{
    width: 100%;
}
.featureDes h1{
    font-size: 30px;
}
.featureDes p{
    font-size: 15px;
    opacity: .75;
    margin-right: 40px;
}
.footerbody{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerdes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footerbody h1{
    margin-bottom: 0;
}
.copyright{
    margin: 0;
    padding: 0;
    font-size: 15px;
    opacity: 0.75;
}
.ip i{
    margin: 5px;
    font-size: 20px;
}
@media  screen and (min-width: 768px) and (max-width: 1023px) {
    main{
        margin: 0 20px;
    }
    .collectionContainer{
        grid-template-columns: 1fr 1fr;
    }
    .hide-for-tab{
        display: none;

    }
    .linkContent{
        gap: 20px;
    }
    .feature{
        margin-bottom: 50px;
    }
    .featureImg{
        height: 100%;
    }
    .featureImg img{
        height: 100%;
    }
    .footerbody{
        min-height: 250px;
    }
    
    
}
@media  screen and (max-width: 767px){
    main{
        margin: 0 10px;
    }
    .headerbody{
        padding: 0 15px ;
    }
    .hide-for-phone{
        display: none;
    }
    .hiddenicon{
        display: block;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .bannerImage{
        width: 100%;
    }
    .bannerContent{
        width: 100%;
        text-align: center;
        align-items: center;
        padding: 0;
    }
    .bannerContent h1{
        font-size: 30px;
    }
    .bannerContent p{
        font-size: 15px;
    }
    .link{
        margin-top: 50px;
    }
    .linkContent{
        gap: 20px;
    }
    .linkContent img{
        width: 60px;
        
    }
    .collections{
        margin-top: 50px;
    }
    .collectionContainer{
        grid-template-columns: 1fr;
    }
    .seeMore{
        text-align: center;
    }
    .feature{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .featureDes{
        text-align: center;
        margin-bottom: 20px;
    }
    .footerdes h1{
        font-size: 20px;
    }
    .copyright{
        text-align: center;
        font-size: 12px;
    }
    .ip{
       
        margin: 5px 0;
    }
    .ip i{
        font-size: 15px;
    }

}
